#container3{
    display: flex;
    background-color: black;
    height: 10%;
}

html, body{
    height: 100vh;
    background-color: black;
}


.label-value-pair1 {
    display: flex;
    margin-right: 15vw;
   
    
}

.label-value-pair2 {
    display: flex;
    margin-right: 14vw;
  
    
}

.row1{
    display: flex;
    height: 10%;
}




.row2{
    display: flex;
    height: 10%;
}

.moreInfo{
    height: 50%;
}



.card{
    background-color: #575A85;
    margin-top: 20px; margin-bottom: 20px;
    flex-basis: calc(50% - 20px);
    
}

#map{
    height: 20%;
}

iframe{
   margin:20px;
}